@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-pop;
    }
}

@layer components {
    .btn-navbar {
        @apply flex mx-1 px-3 py-2 text-xs font-pop font-semibold tracking-wide text-center rounded-lg text-gray-600 hover:text-cyan-500 focus:ring-2 focus:ring-blue-300 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-cyan-400 dark:focus:ring-gray-800 dark:border-gray-700;
    }
}

@layer utilities {
    .btn-navbar-transition {
        @apply transition delay-0 duration-75 ease-in-out;
    }
}